@{
    ViewData["Title"] = "Home Page";

    //david 4
}

 @using System.Security.Claims;  

    @if (!User.Identities.Any(u => u.IsAuthenticated))
    {
        <h1>this i home page</h1>
    }
    else
    {
        <h1>
            Hi, @User.Identities.First(u=>u.IsAuthenticated&&u.HasClaim(c=>c.Type==ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value; 
        </h1>

    }
